<div class="navbar-wrapper">
  <div class="navbar-content scroll-div">
    <div class="main-menu-header">
      <div class="user-details">
        <span>{{ userFullName }}</span>
        <div id="more-details" class="user-email-label">{{ userEmail }}</div>
      </div>
    </div>
    
    <div class="nav-scroll-area">
      <ul class="nav pcoded-inner-navbar">
        <ng-container *ngFor="let item of navItems">
          <li *ngIf="item.type === 'group'" class="nav-item pcoded-menu-caption">
            <label>{{item.title}}</label>
          </li>
          <li *ngIf="item.type === 'item'" class="nav-item" routerLinkActive="active">
            <a [routerLink]="item.url" class="nav-link">
              <span class="pcoded-micon"><i [class]="item.icon"></i></span>
              <span class="pcoded-mtext">{{item.title}}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="sidebar-footer">
      <a href="javascript:void(0)" (click)="logout()" class="logout-btn">
        <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
        <span class="pcoded-mtext">Déconnexion</span>
      </a>
    </div>
  </div>
</div>

