<div class="navbar-wrapper">
  <div class="navbar-content scroll-div">
    <div class="">
      <div class="main-menu-header">
        <div class="user-details">
          <span>{{ userFullName }}</span>
          <div id="more-details" class="user-email-label">{{ userEmail }}</div>
        </div>
      </div>
    </div>
    <ul class="nav pcoded-inner-navbar">
      <ng-container *ngFor="let item of navItems">
        <li *ngIf="item.type === 'group'" class="nav-item pcoded-menu-caption">
          <label>{{item.title}}</label>
        </li>
        <li *ngIf="item.type === 'item'" class="nav-item" routerLinkActive="active">
          <a [routerLink]="item.action ? null : item.url" 
             (click)="item.action === 'logout' ? onLogout() : null"
             class="nav-link cursor-pointer">
            <span class="pcoded-micon"><i [class]="item.icon"></i></span>
            <span class="pcoded-mtext" [class.text-danger]="item.action === 'logout'">{{item.title}}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

